/* Colors */
.sp-amber,.sp-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.sp-aqua,.sp-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.sp-blue,.sp-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.sp-light-blue,.sp-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.sp-brown,.sp-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.sp-cyan,.sp-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.sp-blue-grey,.sp-hover-blue-grey:hover,.sp-blue-gray,.sp-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.sp-green,.sp-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.sp-light-green,.sp-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.sp-indigo,.sp-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.sp-khaki,.sp-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.sp-lime,.sp-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.sp-orange,.sp-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.sp-deep-orange,.sp-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.sp-pink,.sp-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.sp-purple,.sp-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.sp-deep-purple,.sp-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.sp-red,.sp-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.sp-sand,.sp-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.sp-teal,.sp-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.sp-yellow,.sp-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.sp-white,.sp-hover-white:hover{color:#000!important;background-color:#fff!important}
.sp-black,.sp-hover-black:hover{color:#fff!important;background-color:#000!important}
.sp-grey,.sp-hover-grey:hover,.sp-gray,.sp-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.sp-light-grey,.sp-hover-light-grey:hover,.sp-light-gray,.sp-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.sp-dark-grey,.sp-hover-dark-grey:hover,.sp-dark-gray,.sp-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.sp-pale-red,.sp-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.sp-pale-green,.sp-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.sp-pale-yellow,.sp-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.sp-pale-blue,.sp-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.sp-text-amber,.sp-hover-text-amber:hover{color:#ffc107!important}
.sp-text-aqua,.sp-hover-text-aqua:hover{color:#00ffff!important}
.sp-text-blue,.sp-hover-text-blue:hover{color:#2196F3!important}
.sp-text-light-blue,.sp-hover-text-light-blue:hover{color:#87CEEB!important}
.sp-text-brown,.sp-hover-text-brown:hover{color:#795548!important}
.sp-text-cyan,.sp-hover-text-cyan:hover{color:#00bcd4!important}
.sp-text-blue-grey,.sp-hover-text-blue-grey:hover,.sp-text-blue-gray,.sp-hover-text-blue-gray:hover{color:#607d8b!important}
.sp-text-green,.sp-hover-text-green:hover{color:#4CAF50!important}
.sp-text-light-green,.sp-hover-text-light-green:hover{color:#8bc34a!important}
.sp-text-indigo,.sp-hover-text-indigo:hover{color:#3f51b5!important}
.sp-text-khaki,.sp-hover-text-khaki:hover{color:#b4aa50!important}
.sp-text-lime,.sp-hover-text-lime:hover{color:#cddc39!important}
.sp-text-orange,.sp-hover-text-orange:hover{color:#ff9800!important}
.sp-text-deep-orange,.sp-hover-text-deep-orange:hover{color:#ff5722!important}
.sp-text-pink,.sp-hover-text-pink:hover{color:#e91e63!important}
.sp-text-purple,.sp-hover-text-purple:hover{color:#9c27b0!important}
.sp-text-deep-purple,.sp-hover-text-deep-purple:hover{color:#673ab7!important}
.sp-text-red,.sp-hover-text-red:hover{color:#f44336!important}
.sp-text-sand,.sp-hover-text-sand:hover{color:#fdf5e6!important}
.sp-text-teal,.sp-hover-text-teal:hover{color:#009688!important}
.sp-text-yellow,.sp-hover-text-yellow:hover{color:#d2be0e!important}
.sp-text-white,.sp-hover-text-white:hover{color:#fff!important}
.sp-text-black,.sp-hover-text-black:hover{color:#000!important}
.sp-text-grey,.sp-hover-text-grey:hover,.sp-text-gray,.sp-hover-text-gray:hover{color:#757575!important}
.sp-text-light-grey,.sp-hover-text-light-grey:hover,.sp-text-light-gray,.sp-hover-text-light-gray:hover{color:#f1f1f1!important}
.sp-text-dark-grey,.sp-hover-text-dark-grey:hover,.sp-text-dark-gray,.sp-hover-text-dark-gray:hover{color:#3a3a3a!important}
.sp-border-amber,.sp-hover-border-amber:hover{border-color:#ffc107!important}
.sp-border-aqua,.sp-hover-border-aqua:hover{border-color:#00ffff!important}
.sp-border-blue,.sp-hover-border-blue:hover{border-color:#2196F3!important}
.sp-border-light-blue,.sp-hover-border-light-blue:hover{border-color:#87CEEB!important}
.sp-border-brown,.sp-hover-border-brown:hover{border-color:#795548!important}
.sp-border-cyan,.sp-hover-border-cyan:hover{border-color:#00bcd4!important}
.sp-border-blue-grey,.sp-hover-border-blue-grey:hover,.sp-border-blue-gray,.sp-hover-border-blue-gray:hover{border-color:#607d8b!important}
.sp-border-green,.sp-hover-border-green:hover{border-color:#4CAF50!important}
.sp-border-light-green,.sp-hover-border-light-green:hover{border-color:#8bc34a!important}
.sp-border-indigo,.sp-hover-border-indigo:hover{border-color:#3f51b5!important}
.sp-border-khaki,.sp-hover-border-khaki:hover{border-color:#f0e68c!important}
.sp-border-lime,.sp-hover-border-lime:hover{border-color:#cddc39!important}
.sp-border-orange,.sp-hover-border-orange:hover{border-color:#ff9800!important}
.sp-border-deep-orange,.sp-hover-border-deep-orange:hover{border-color:#ff5722!important}
.sp-border-pink,.sp-hover-border-pink:hover{border-color:#e91e63!important}
.sp-border-purple,.sp-hover-border-purple:hover{border-color:#9c27b0!important}
.sp-border-deep-purple,.sp-hover-border-deep-purple:hover{border-color:#673ab7!important}
.sp-border-red,.sp-hover-border-red:hover{border-color:#f44336!important}
.sp-border-sand,.sp-hover-border-sand:hover{border-color:#fdf5e6!important}
.sp-border-teal,.sp-hover-border-teal:hover{border-color:#009688!important}
.sp-border-yellow,.sp-hover-border-yellow:hover{border-color:#ffeb3b!important}
.sp-border-white,.sp-hover-border-white:hover{border-color:#fff!important}
.sp-border-black,.sp-hover-border-black:hover{border-color:#000!important}
.sp-border-grey,.sp-hover-border-grey:hover,.sp-border-gray,.sp-hover-border-gray:hover{border-color:#9e9e9e!important}
.sp-border-light-grey,.sp-hover-border-light-grey:hover,.sp-border-light-gray,.sp-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.sp-border-dark-grey,.sp-hover-border-dark-grey:hover,.sp-border-dark-gray,.sp-hover-border-dark-gray:hover{border-color:#616161!important}
.sp-border-pale-red,.sp-hover-border-pale-red:hover{border-color:#ffe7e7!important}.sp-border-pale-green,.sp-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.sp-border-pale-yellow,.sp-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.sp-border-pale-blue,.sp-hover-border-pale-blue:hover{border-color:#e7ffff!important}
